/* Custom styles for the DatePicker calendar */
.custom-calendar {
  border-radius: 8px solid black;
}

/* Additional styling if needed */
.react-datepicker__day--selected {
  background-color: #83d400; /* Customize selected date background color */
  color: white; /* Customize selected date text color */
}

.react-datepicker__header {
  background-color: #E5E7EB; /* Customize calendar header background */
}

.react-datepicker__day--keyboard-selected {
  background-color: #4338CA; /* Customize keyboard navigation date selection */
  color: white;
}
